.jobListing__header > h2 {
  font-family: 'Comfortaa', sans-serif;
  margin-bottom: 10px;
}

.editJobListing {
  margin: 10px 10px 0px 10px;
}

.editJobDetails {
  padding: 5px 20px 0px;
}
.saveEditChanges {
  margin: 0 30px;
}

.salaryFields {
  display: flex;
  justify-content: space-between;
}

.salaryEdit {
  width: 60%;
}

.rateEdit {
  width: 35%;
}

#type {
  width: 99%;
}

