.resumeContainer {
  margin: 0 15px;
}

.sectionTitle {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin: 40px 0 10px;
}

.addSkills,
.addWorkHistory,
.addSchools {
  width: auto;
  text-align: center;
  justify-content: center;
  border: 3px dashed #c5c3c3;
  background: #dfdfdf;
  border-radius: 5px;
  padding: 10px;
}

.editSkills {
  width: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
}